asn1crypto==0.24.0
#ansible-tower-cli==3.3.9 #Crypto to change
#azure-cli==2.15.1
azure-cli-network==2.5.2
bcrypt==3.1.4
boto3==1.9.32
#botocore==1.19.3
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
#ciscoaxl==0.125
ciscoconfparse==1.5.22
#ciscoris==0.0.4
cisco-sdwan==0.35
Click==7.1.2
colorama==0.4.3
cot==2.2.0
cryptography==3.3.2
delegator.py==0.1.1
django==3.1.4
dnspython==1.15.0
dnspython3==1.15.0
docopt==0.6.2
docutils==0.14
docker-py==1.10.6
exabgp==4.2.11
Flask==1.1.2
future==0.17.0
#genie==19.12
#gooey==1.0.3
gunicorn==19.9.0
httplib2==0.18.1
idna==2.7
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.3
junit-xml==1.8
junos-eznc==2.2.1
lxml==4.4.1
MarkupSafe==1.1.1
#napalm==2.5.0
ncclient==0.6.7
netaddr==0.8.0
netcalc==0.6.2
netmiko==3.3.2
nornir==3.0.0
paramiko==2.7.2
pexpect==4.6.0
phonescrape==0.0.1
ply==3.11
psutil==5.6.6
ptyprocess==0.6.0
pyang==2.2.1
pyasn1==0.4.4
#pyats==19.5.0
#pyats.aereport==19.12
#pyats.aetest==19.12
#pyats.async==19.12
#pyats.connections==19.12
#pyats.datastructures==19.12
#pyats.easypy==19.12
#pyats.examples==19.6
#pyats.kleenex==19.12
#pyats.log==19.12
#pyats.results==19.12
#pyats.tcl==19.12
#pyats.templates==19.6
#pyats.topology==19.12
#pyats.utils==19.12
pycparser==2.19
pycryptodomex==3.7.0
pyeapi==0.8.2
pygobject==3.26.1
pyIOSXR==0.53
PyNaCl==1.3.0
pynetbox==5.3.1
pyntc==0.0.9
pynxos==0.0.5
pynsxv==0.4.1
pyserial==3.4
#pysphere==0.1.8
pysmi==0.3.2
pysnmp==4.4.6
#python-apt==0.7.8
python-dateutil==2.7.4
pyvim==3.0.2
pyvmomi==7.0.1
PyYAML==5.3
requests==2.25.0
ruamel.yaml==0.16.10
s3transfer==0.1.13
scapy==2.4.4
scp==0.13.2
selectors2==2.0.1
setproctitle==1.1.10
six==1.12.0
speedtest-cli==2.1.2
#ssl==1.16
tabulate==0.8.2
textfsm==1.1.0
tftpy==0.8.0
ujson==1.35
unattended-upgrades==0.1
unicon==3.4.0
#urllib3==1.26.2
virlutils==0.8.8
Werkzeug==0.15.5
#wooey==0.11.1
xmltodict==0.11.0
